html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    position: relative;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






@media screen and (min-width: 800px){
	main {
		max-width: 780px;
	}
}
@media screen and (min-width: 1024px){
	main {
		max-width: 1020px;
	}
}
@media screen and (min-width: 1216px){
	main {
		max-width: 1152px; 
	}
}
@media screen and (min-width: 1408px){
	main {
    max-width: 1344px;
	}
}
@media screen and (min-width: 1530px){
	main {
    max-width: 1520px;
	}
}


/* 
@media screen and (min-width: 1024px){
	main {
		width: 960px;
	}
}
@media screen and (min-width: 1536px){
	main {
		width: 1519px;
	}
}

@media screen and (min-width: 1920px) {
	main {
		width: 1920px;
	}
} */


div{
	display: inline-block;
}



main{
	display: flex;
	flex-direction: column;
}




.top{
	height: 250px;
	margin-top: 50px;
    display: flex;
	justify-content: space-around;
	align-items: center;
}

.top img{
	height: 100%;
}




.name-job{
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.name{
    font-size: 50px;
	font-family: 'semibold';
}

.job{
    margin-top: 40px;
    font-size: 30px;
	font-family: 'regular';
}


.name-job h3{
	margin-bottom: 50px;
	justify-self: center;
	margin-top: 100px;
	font-size: 20px;
	font-family: 'semibold';
}

.info, .eng, .chn, p{
	font-size: 17px;
	margin-top: 20px;
	font-family: 'regular';
	margin-left: 20px;
}




.eng{
	display: flex;
	flex-direction: column;
}
.eng h3{
	margin-top: 100px;
	margin-bottom: 50px;
	font-size: 20px;
	align-self: center;
	font-family: 'semibold';
}
.chn{
	display: flex;
	flex-direction: column;
}
.chn h3{
	margin-top: 100px;
	margin-bottom: 50px;
	font-size: 20px;
	align-self: center;
	font-family: 'semibold';
}








footer{
	margin-top: 100px;
	height: 200px;
	background-color: lightblue;
}

















@font-face {
	font-family: 'regular';
	src: url(../font/Quicksand-Regular.ttf);
}
@font-face {
	font-family: 'semibold';
	src: url(../font/Quicksand-SemiBold.ttf);
}
