*,*::before,*::after{
    margin: 0;
	border: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    list-style: none;
}



html{
	scroll-behavior: smooth;
}



@font-face {
	font-family: 'regular';
	src: url(../font/Quicksand-Regular.ttf);
}
@font-face {
	font-family: 'semibold';
	src: url(../font/Quicksand-SemiBold.ttf);
}







.container{
	padding: 3vw;
}


main{
	display: flex;
	flex-direction: column;
}


.top{
	height: 40vh;
    display: flex;
	justify-content: space-around;
	align-items: center;
}

.img-1{
	width: 25vw;
	height: 100%;
}


.logo{
	width: 35vw;
	height: 100%;
}


.name-job{
	margin-top: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.name{
    font-size: 50px;
	font-family: 'semibold';
}

.job{
    margin-top: 5vh;
    font-size: 30px;
	font-family: 'regular';
}


h3{
	margin-top: 15vh;
	margin-bottom: 6vh;
	font-size: 20px;
	font-family: 'semibold';
	text-align: center;
}

.info p{
	margin-top: 3vh;
	font-family: 'regular';
}


footer{
	height: 30vh;
	background-color: #c0d1de;
	font-size: 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}




footer img{
	width: 40px;
}


footer a{
	display: flex;
	align-items: center;
	width: fit-content;
	text-decoration: underline;
	font-family: 'regular';
	text-decoration-color: rgb(232, 255, 248);
}

.scroll-logo{
	display: flex;
	justify-content: center;
	width: 20vw;
}

.scroll-logo img{
	width: 70%;
	border-radius: 50%;
}

.web-contact{
	display: flex;
	justify-content: space-evenly;
	width: 60vw;
}

.phone-contact{
	width: 20vw;
}

.phone-contact div{
	display: flex;
	margin-top: 3vh;
}














@media screen and (max-width: 1441px) {

	.top{
		height: 30vh;
	}

	footer{
		height: 25vh;
	}
}




@media screen and (max-width: 1367px) {

	.top{
		height: 33vh;
	}
}




@media screen and (max-width: 1281px) {


	.phone-contact div{
		display: flex;
		margin-top: 2vh;
	}
}






@media screen and (max-width: 963px) {

	.top{
		height: 30vh;
	}

}




@media screen and (max-width: 850px) {

	.top{
		height: 22vh;
	}

	.name{
		font-size: 30px;
	}
	
	.img-1{
		width: 40vw;
		height: 100%;
	}
	.logo{
		width: 50vw;
		height: 90%;
	}
	
	
	.name-job{
		margin-top: 10vh;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.job{
		margin-top: 3vh;
		font-size: 20px;
		font-family: 'regular';
	}
	
	
	h3{
		margin-top: 8vh;
		margin-bottom: 5vh;
		font-size: 16px;
		font-family: 'semibold';
		text-align: center;
	}
	
	.info p{
		margin-top: 1vh;
		font-size: 12px;
	}
}





@media screen and (max-width: 769px){

	footer{
		display: flex;
		justify-content: space-between;
		padding: 0 5vw;
	}

	.scroll-logo{
		display: none;
		margin: none;
	}

	.web-contact{
		display: flex;
		flex-direction: column;
		width: 50%;
		font-size: 15px;
	}

	.web-contact div{
		width: 100%;
		margin-top: 2vh;
	}

	.web-contact img{
		width: 12%;
	}

	.phone-contact{
		font-size: 15px;
		margin-left: 0;
		width: 50%;
	}

	.phone-contact img{
		width: 12%;
		margin-left: auto;
	}

	.phone-contact div{
		margin-top: 2vh;
	}
}




@media screen and (max-width: 450px) {

	.top{
		height: 50vh;
		display: flex;
		flex-direction: column;
	}

	.img-1{
		width: 80%;
	}
	
	.logo{
		width: 100%;
	}

	.name{
		font-size: 25px;
	}
	
	.job{
		font-size: 16px;
	}
	
	
	h3{
		font-size: 12px;
	}
	
	.info p{
		font-size: 10px;
	}
}


@media screen and (max-width: 350px) {
	
	.logo{
		width: 90%;
	}
	
	.job{
		font-size: 15px;
	}
	
	
	h3{
		font-size: 10px;
	}
	
	.info p{
		font-size: 8px;
	}
}